@{
    ViewData["Title"] = "Home Page";
}

<div class="hold-transition">
    <div class="card">
        <div class="card-body">
            <p>Leave Management System</p>
        </div>

    </div>
    </div>
